---
import type { GetStaticPaths, Page } from "astro";
import { getCollection } from "astro:content"
import Config from 'virtual:astro-blog/user-config'
import { Layout } from "virtual:astro-blog/components";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BlogPost from "../components/blog/BlogPost.astro";
import { type ArticleSchemaTransformed, type ArticleContentCollectionData } from '../schema/ArticleSchema'
import { transformContentCollection } from '../utils/content-collection'

type Props = {
	page: Page<ArticleSchemaTransformed>
}

export const getStaticPaths = (async ({ paginate }) => {
	const { paginateSize } = Config
	const blogCollection = await getCollection('blog')

	let blogArticles: Array<ArticleSchemaTransformed> = []

	for (const entry of blogCollection) {
		blogArticles.push(await transformContentCollection(entry as ArticleContentCollectionData))
	}
	
	// Here we want to remove the first 9 elements of the array as they are already shown on the /blog page
	blogArticles.splice(0, paginateSize)

	if (blogArticles.length === 0) {
		return []
	}

	return paginate(blogArticles, { pageSize: paginateSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props as Props;
---

<Layout title={ `Blog - Page ${page.currentPage}` } description={ `Blog - Page ${page.currentPage}` } config={Config}>
	<Breadcrumbs breadcrumbs={[{href: '/', text: 'Home'}, {href: '/blog', text: 'Blog'}, {text: String(page.currentPage)}]} />
	
	<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		{
			page.data.map(article => (
				<BlogPost article={{ ...article }} />
			))
		}
	</div>

	<div class="flex items-center content-center justify-end gap-4 px-4">
		<a href={ page.url.prev } class="galaxy-gradient-background rounded-full px-4 py-2">Previous Page</a>
		<a href={ page.url.next } class="galaxy-gradient-background rounded-full px-4 py-2">Next Page</a>
	</div>
</Layout>