---
import type { GetStaticPaths, Page } from "astro";
import Config from 'virtual:astro-blog/user-config'
import { Layout } from "virtual:astro-blog/components";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ArticleCard from "../components/blog/ArticleCard.astro";
import { type ArticleSchemaTransformed } from '../schema/ArticleSchema'
import { getArticles } from '../utils/routing'

const { prerender: _prerender } = Config

export const prerender = _prerender

type Props = {
	page: Page<ArticleSchemaTransformed>
}

export const getStaticPaths = (async ({ paginate }) => {
	const { paginateSize } = Config
	let articles = await getArticles()
	
	// Here we want to remove the first 9 elements of the array as they are already shown on the /blog page
	articles.splice(0, paginateSize)

	if (articles.length === 0) {
		return []
	}

	return paginate(articles, { pageSize: paginateSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props as Props;
---

<Layout title={ `Blog - Page ${page.currentPage}` } description={ `Blog - Page ${page.currentPage}` } config={Config}>
	<Breadcrumbs breadcrumbs={[{href: '/', text: 'Home'}, {href: '/blog', text: 'Blog'}, {text: String(page.currentPage)}]} />
	
	<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		{
			page.data.map(article => (
				<ArticleCard article={{ ...article }} />
			))
		}
	</div>

	<div class="flex items-center content-center justify-end gap-4 px-4">
		<a href={ page.url.prev || '/blog' } class="primary text-slate-100 rounded-full px-4 py-2">Previous Page</a>

		{
			page.url.next && (
				<a href={ page.url.next } class="primary text-slate-100 rounded-full px-4 py-2">Next Page</a>
			)
		}
	</div>
</Layout>

<style>
    .primary {
        background-color: var(--primary, theme('colors.indigo.500'));
    }
</style>