---
import { getCollection } from 'astro:content'
import { Layout } from 'virtual:astro-blog-plugin/components'
import FeaturedBlogArticle from '../components/blog/FeaturedBlogArticle.astro'
import BlogPost from '../components/blog/BlogPost.astro'
import type { ImageMetadata } from 'astro'

const blogCollection = await getCollection('blog')

let blogArticles = blogCollection.map(entry => {
    return {
        title: entry.data.title,
        description: entry.data.description,
        slug: entry.slug,
        link: `${ Astro.url.pathname }/${ entry.slug }`,
        date: entry.data.datePublished.toDateString(),
        image: entry.data.imageSrc as ImageMetadata,
        imageAlt: entry.data.imageAlt,
    };
})

const featuredArticle = blogArticles[0]

let paginated = false

if (blogArticles.length > 9) {
    paginated = true

    blogArticles = blogArticles.toSpliced(0, 9)
}

---

<Layout title="Blog">
    <Fragment slot="head">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Poppins:wght@600&display=swap" rel="stylesheet">
    </Fragment>

    <h2 class="mt-8 mb-4 text-xl font-[Biryani] text-slate-200">Featured Article</h2>
    <FeaturedBlogArticle post={{ ...featuredArticle  }} />
    <hr class="my-8 border-slate-200/50">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
            blogArticles.map(article => (
                <BlogPost post={{ ...article }} />
            ))
        }
    </div>
    {
        paginated && <div class="flex items-center content-center justify-end gap-4 px-4">
            <a href={ '/blog/1' } class="galaxy-gradient-background rounded-full px-4 py-2">Next Page</a>
        </div>
    }
</Layout> 