---
type Props = {
	class?: string;
}

const { class: classes, ...props } = Astro.props
---

<div
	class="container relative z-10 mx-auto py-8 px-8 max-w-4xl"
	class:list={[classes]}
	{...props}
>
	<slot />
</div>