---
import Section from "./Section.astro";
import Container from "./Container.astro";

import { type ComponentProps } from '../../types/ComponentProps'

const { class: classes, containerClass, ...props } = Astro.props as ComponentProps
---
<Section
	class="bg-gradient-to-b from-gray-950 to-gray-950"
	class:list={[classes]}
    {...props}
>
    <Container class:list={[containerClass]} data-fade-in-scroll>
        <slot />
    </Container>
</Section>