---
type Props = {
    class: string;
}

const { class: classes, ...props } = Astro.props as Props
---

<section
    class="relative block text-slate-100 overflow-hidden"
    class:list={[classes]}
    {...props}
>
    <slot />
</section>