---
import { Image } from 'astro:assets'
import { SEO } from 'astro-seo'
import { logos } from 'virtual:astro-blog/user-images'
import { type AstroBlogLayoutProps } from 'astro-blog'

const { title, description, seo, config } = Astro.props as AstroBlogLayoutProps

const { title: siteName, logo: configLogo } = config

const canonical = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <SEO
            {title}
            titleTemplate={`%s - ${ siteName }`}
            {description}
            {canonical}
            {...seo}
        />

        <slot name="head" />
	</head>
	<body class="bg-slate-950 min-h-[100vh]">
        <div class="min-h-[100svh] grid grid-rows-[auto_1fr]">
            <div>
                <div class="container mx-auto p-8 pb-0 max-w-4xl">
                    <div class="left">
                        <a href="/" class="block">
                            {
                                logos.light && (
                                    <Image src={ logos.light } alt={ configLogo?.alt || 'Logo' } class="w-12" />
                                )
                            }
                            {
                                !logos.light && (
                                    <span class="block text-gray-100 font-semibold px-6 py-3 rounded-full bg-gradient-to-tr from-rose-500 to-indigo-500 w-max">Home</span>
                                )
                            }
                        </a>
                    </div>
                </div>
            </div>
            <div class="container mx-auto py-8 px-8 max-w-4xl">
                <slot />
            </div>
        </div>
        <footer class="bg-slate-950">
            <div class="container mx-auto py-8 px-8 max-w-4xl text-gray-200">
                <p class="text-center">💖</p>
            </div>
        </footer>
	</body>
</html>

<style>
    
</style>