---
// import { ViewTransitions } from 'astro:transitions'
// import { SEO } from 'astro-seo'
// import config from 'virtual:galaxy-theme/user-config'

type Props = {
    /**
     * Your page title.
     */
    title: string,

    /**
     * The description of your page.
     */
    description: string,

    openGraph?: any,
}

// import MobileNav from '../Nav/MobileNav.astro'
// import Footer from '../Footer.astro'
// import SiteBanner from '@components/SiteBanner.astro'
// import Starfield from '../Starfield.astro'
// import Navbar from '../Nav/Navbar.astro'

// const { title, description, openGraph }: Props = Astro.props
// const canonicalUrl = new URL(Astro.url.pathname, Astro.site)

// const { siteName } = config
---

<!-- <script>
    import '../../scripts/fade-in'

    import '../../styles/global.css'
</script> -->

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-black min-h-[100vh]">
        HORSE
		<slot />
	</body>
</html>

<style>
    
</style>