---
import { Image } from 'astro:assets'
import { SEO } from 'astro-seo'
import Config from 'virtual:astro-blog-plugin/user-config'
import { logos } from 'virtual:astro-blog-plugin/user-images'
import { type LayoutProps } from '@futurethemes/astro-blog-plugin'

const { title, description, seo } = Astro.props satisfies LayoutProps

const { title: siteName, logo: configLogo } = Config

const canonical = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <SEO
            {title}
            titleTemplate={`%s - ${ siteName }`}
            {description}
            {canonical}
            {...!!seo?.openGraph && {openGraph: seo.openGraph}}
        />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Poppins:wght@600&display=swap" rel="stylesheet">
	</head>
	<body class="bg-black min-h-[100vh]">
        <div>
            <div class="container mx-auto py-8 max-w-4xl">
                <div class="left">
                    <a href="/" class="w-16">
                        {
                            logos.light && (
                                <Image src={ logos.dark } alt={ configLogo?.alt || 'Logo' } class="w-12" />
                            )
                        }
                    </a>
                </div>
            </div>
        </div>
		<slot />
        <!-- <Footer />
        <Starfield />
        <MobileNav /> -->
	</body>
</html>

<style>
    
</style>