---
import { Image } from 'astro:assets'
import { SEO } from 'astro-seo'
import Config from 'virtual:astro-blog-plugin/user-config'
import { logos } from 'virtual:astro-blog-plugin/user-images'
import { type LayoutProps } from '@futurethemes/astro-blog-plugin'

const { title, description, seo } = Astro.props satisfies LayoutProps

const { title: siteName, logo: configLogo } = Config

const canonical = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <SEO
            {title}
            titleTemplate={`%s - ${ siteName }`}
            {description}
            {canonical}
            {...!!seo?.openGraph && {openGraph: seo.openGraph}}
        />

        <slot name="head" />
	</head>
	<body class="bg-slate-950 min-h-[100vh]">
        <div class="min-h-[100svh] grid grid-rows-[auto_1fr]">
            <div>
                <div class="container mx-auto py-8 px-8 max-w-4xl">
                    <div class="left">
                        <a href="/" class="w-16">
                            {
                                logos.light && (
                                    <Image src={ logos.dark } alt={ configLogo?.alt || 'Logo' } class="w-12" />
                                )
                            }
                        </a>
                    </div>
                </div>
            </div>
            <div class="container mx-auto py-8 px-8 max-w-4xl">
                <slot />
            </div>
        </div>
        <footer class="bg-slate-950">
            <div class="container mx-auto py-8 px-8 max-w-4xl text-gray-200">
                <p class="text-center">💖</p>
            </div>
        </footer>
	</body>
</html>

<style>
    
</style>