---
type Props = {
    breadcrumbs: Array<{
        href?: string;
        text: string;
    }>
}

const { breadcrumbs } = Astro.props
---

{ (Array.isArray(breadcrumbs) && breadcrumbs.length > 0) &&
    <ul class="flex flex-row items-center flex-wrap min-w-0 my-4">
        {
            breadcrumbs.map(breadcrumb => (
                <span class="mx-2 first-of-type:hidden last-of-type:text-purple-500 last-of-type:font-semibold">/</span>
                <li class="uppercase font-display text-sm font-normal relative last:text-ellipsis last:whitespace-nowrap last:overflow-hidden last-of-type:text-purple-500 last-of-type:font-semibold">
                    { !!breadcrumb.href ? 
                        <a href={ breadcrumb.href }>
                            { breadcrumb.text }
                        </a>
                        :
                        <span>
                            { breadcrumb.text }
                        </span>
                    }
                </li>
            ))
        }
    </ul>
}
